*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.progress{
    border-radius: 15px;
    height: 20px;
    width: 50%;
    border: 3px solid black;
}
.bar{
    height: 100%;
    width: 0%;
    background-color: rgb(173, 90, 90);
    border-radius: 15px;
}

/* .value{
    font-size: 100px;
} */