* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

img {
  height: 400px;
  width: 300px;
}
button {
  padding: 5px 10px;
  border-radius: 14px;
  background-color: blueviolet;
  color: #fff;
}

.highlight {
  background-color: yellow;
}
.large-text {
  font-size: 20px;
}
.hidden {
  display: none;
}
