*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.box-parent{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 7rem;
    align-items: center;
}

.box{
    height: 400px;
    width: 400px;
    /* background-color: crimson; */
    border: 2px solid black;
}

.btn{
    margin-top: 1.5rem;
    width: 300px;
    padding: 20px 55px;
    background-color: crimson;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}